{% block title %}sidebar{% endblock %}

{% block content %}


<!-- Sidebar -->
<nav >
    <div class="sidebar-header">
        <h3>Kliche Admin</h3>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Inicio</li>
        <li class="list-group-item">Usuarios</li>
        <li class="list-group-item">Clientes</li>
        <li class="list-group-item">Categorias</li>
        <li class="list-group-item">Productos</li>
        <li class="list-group-item">Ventas</li>
      </ul>
    
</nav>



{% endblock %}